

.page-mi-perfil{
    background-color: rgb(249, 252, 255);
    height: 100vh;
    padding: 4% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.page-mi-perfil__foto-perfil{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 0% 0% 5% 0%;
}

.page-mi-perfil__foto-perfil > img{
    width: 200px;
    height: 200px;
    border-radius: 60%;
    object-fit:cover;
}


#page-mi-perfil__table{
    width: 100%;
}



.input-group{
    margin: 5%;
}