
 /* ============   Tipografías Globales para Escritorio ============ */


 #header{
  text-align: center;
  padding: 4px 0px 4px 0px;
}

#header > h1{
font-size: 25px;
}

#container-menu{
  display: flex;
  justify-content: center;
}

#container-menu > ul{
  display: flex;
}

#container-menu > ul > li{
  list-style: none;
  padding: 1px 5px;
}
