<header id="header">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <div>
        <h1><b>¡Secrets!</b></h1>
    </div>
  
    <div id="container-menu">
        <ul>
            <li>
                <a routerLink="/"> Inicio</a>
            </li>
            <li>
                <a routerLink="login">Login</a>
            </li>
            <li>
                <a routerLink="mi-perfil">Mi Perfil</a>
            </li>
        </ul>
    </div>

</header>
