
<!--  SECCIÓN: ENCABEZADO  -->
<div id="contenedor1">
  <div id="c1-hijo1">
    <h1><b>¿TIENES UN<br> SECRETO?</b> </h1>
    <p>Un espacio en donde todos comparten sus secretos más íntimos (o los de alguien más) y estos se pierden en el
      universo de la web, ya que nadie sabe quién los escribió,<br> ¿tienes el valor de intentarlo?</p>
  </div>
  <div id="c1-hijo2">
    <a href="#anclaje-listado-secretos"><button class="btn-compartir">Ver Secretos</button></a>
    <a href="#anclaje-nuevo-secreto" id="btnConfesar"><button class="btn-confesar"> ¡Confesar Algo!</button></a>
  </div>
</div>




<!--  SECCIÓN: REGISTRAR/EDITAR SECRETO  -->
<a id="anclaje-nuevo-secreto"></a>
<div id="contenedor2">

  <div *ngIf="mensajeValidarForm" class="alert alert-danger" role="alert">
      <p>{{mensajeValidarForm}}</p>
  </div>


  <!--Formulario Registro/Editar - USER -->
  <h2><b>{{tituloForm}}</b></h2>
  <form id="formulario-envio" (ngSubmit)="guardarSecreto()" [formGroup]="validarFormulario">

    <!--Activo solo para Editar -->
    <div *ngIf="entitySecreto.id"><br>
      <label><b>ID: </b>{{entitySecreto.id}} </label>&nbsp;&nbsp;<label><b>Fecha:
        </b>{{entitySecreto.fCreacion}}</label><br>
      <input type="number" formControlName="fg_id" [(ngModel)]="entitySecreto.id" name="id" id="form-id" hidden>
      <input type="date" formControlName="fg_fCracion" [(ngModel)]="entitySecreto.fCreacion" name="fCreacion"
        id="fg_fCracion" hidden>
    </div>

    <p>Escribe Aquí: (500 Caracteres como máximo sin emojics)</p>
    <textarea formControlName="fg_secreto" [(ngModel)]="entitySecreto.secreto" name="secreto" maxlength="500" 
      id="form-secreto"></textarea><br>
    <p>Elige una Categoría:</p>
    <select formControlName="fg_categoria" [(ngModel)]="entitySecreto.categoria" name="categoria" id="form-categoria">
      <option value="Mio"> Mio</option>
      <option value="Familia">Familia</option>
      <option value="Trabajo">Trabajo</option>
      <option value="Amigos">Amigos</option>
      <option value="Pareja">Pareja</option>
      <option value="Conocido">Conocido</option>
    </select><br>
    <input type="submit" value="{{tituloBtn}}" id="form-enviar">

    <!-- Sección: Activa solo para Editar -->
    <button *ngIf="entitySecreto.id" type="button" (click)="activarFormularioGuardar()" id="form-cancelar">Cancelar</button>
  </form>
</div>




<!-- /////////////////////////////// EDITAR: ADMIN /////////////////////////////////////////--->

<div id="contenedor-form-admin" *ngIf="isActivecontenedorFormAdmin==true">

  <!--Formulario ditar - ADMIN -->
  <h2><b>Editar como Admin</b></h2>
  <form id="formulario-envio" (ngSubmit)="editarSecretoAdmin()" [formGroup]="validarFormularioAdmin">

    <!--Activo solo para Editar -->
    <div *ngIf="entitySecretoAdmin.id"><br>
      <input type="number" formControlName="fa_id" [(ngModel)]="entitySecreto.id" name="id" id="form-id" hidden>
      <label><b>ID: </b>{{entitySecretoAdmin.id}} </label><br>
    </div>
    
    <p>Escribe Aquí: (500 Caracteres como máximo sin emojics)</p>
    <textarea formControlName="fa_secreto" [(ngModel)]="entitySecretoAdmin.secreto" name="secreto" maxlength="500" 
      id="form-secreto"></textarea><br>
    <p>Elige una Categoría:</p>
    <select formControlName="fa_categoria" [(ngModel)]="entitySecretoAdmin.categoria" name="categoria" id="form-categoria">
      <option value="Mio"> Mio</option>
      <option value="Familia">Familia</option>
      <option value="Trabajo">Trabajo</option>
      <option value="Amigos">Amigos</option>
      <option value="Pareja">Pareja</option>
      <option value="Conocido">Conocido</option>
    </select><br>
    <p>Fecha Creacion</p>
    <input type="date" formControlName="fa_fecha" [(ngModel)]="entitySecretoAdmin.fCreacion" id="form-fecha"><br><br>
    <input type="submit" value="Actualizar" id="form-enviar">
    <button type="button" class="btn btn-danger" (click)="desactivarContenedorFormAdmin()" >Cancelar</button>
  </form>
</div>

<!-- ////////////////////////////////////////////////////////////////////////--->




<!--  SECCIÓN: LISTADO DE SECRETOS  -->
<span id="anclaje-listado-secretos"></span>
<div id="contenedor3">

  <!-- Activa solo para usuarios que hayan guardado un secreto-->
  <div *ngIf="puedeEditarSecreto" id="c3-seccion-editar-secreto">
    <h2><b>😎 Mi secreto:</b></h2>
    <p>Aquí puedes editar y/o eliminar tu secreto, recuerda que, si creas un nuevo, recargas o cierras la pestaña ya no podrás hacerlo</p><br>
    <table class="table">
      <thead>
        <tr>
          <td scope="col"><b>📍 No. Secreto:</b></td>
          <td scope="col"><b>📧 Secreto:</b></td>
          <td scope="col"><b>📁 Categoría:</b></td>
          <td scope="col"><b>📆 Fecha:</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{entitySecretoGuardado.id}}</td>
          <td>{{entitySecretoGuardado.secreto}}</td>
          <td>{{entitySecretoGuardado.categoria}}</td>
          <td>{{entitySecretoGuardado.fCreacion}}</td>
        </tr>
      </tbody>
    </table>       
    <div>
      <button type="button" (click)="buscarSecreto(entitySecretoGuardado)" class="btn btn-success">Editar</button>
      <button type="button" (click)="eliminarSecreto(entitySecretoGuardado)" class="btn btn-danger">Eliminar</button>
    </div>     
    <br><br>
  </div>


  <hr>

  <!-- Se muestra cuando NO hay secretos a listar -->
  <div *ngIf="listaSecretos==undefined; else seccionListado" id="c3-hijo1">
    <h2><b>🔐 Aun no hay Secretos Guardados:</b></h2>
    <p>Se el primero en escribir uno, nadie sabra que fuiste tu</p>
  </div>

  
 <!-- Se muestra cuando SI hay secretos a listar -->
  <ng-template #seccionListado id="c3-hijo2">
    <h2><b>🔐 Secretos Guardados:</b></h2><br>

  <!-- Formulario para filtrar por categoria-->
    <div id="c3-seccion-filtrar-categoria">
        <form  class="form">
          <select  name="categoria" id="filtro-buscar-por-categoria" (change)="filtrarSecretosCategoria()">
            <option value="Todos" selected="true" > Todos</option>
            <option value="Mio">Mio</option>
            <option value="Familia">Familia</option>
            <option value="Trabajo">Trabajo</option>
            <option value="Amigos">Amigos</option>
            <option value="Pareja">Pareja</option>
            <option value="Conocido">Conocido</option>
          </select>
        </form>
    </div>

    <table class="table">
      <thead>
        <tr>
          <td scope="col"><b>📍 No. Secreto:</b></td>
          <td scope="col"><b>📧 Secreto:</b></td>
          <td scope="col"><b>📁 Categoría:</b></td>
          <td scope="col"><b>📆 Fecha:</b></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let secreto of listaSecretos">
          <td>{{secreto.id}}</td>
          <td>{{secreto.secreto}}</td>
          <td>{{secreto.categoria}} </td>
          <td>{{secreto.fCreacion}}</td>
          <td *ngIf="oauth2Service.estaLogeado()">
            <button type="button"  class="btn btn-warning" (click)="buscarSecretoAdmin(secreto)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="eliminarSecretoComoAdmin(secreto)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <small>Páginas:</small>
    <div  id="paginador">
        <div *ngFor="let variable of numeroPaginas" >
          <button (click)="listarSecretosPaginado(variable)" >{{ (variable+1) }}</button>
      </div>
    </div>

  </ng-template>
</div>
